* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffe2d1;
}

.orange {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 100%;
}

header nav {
  width: 100%;
}
header nav ul {
  width: 80%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 2rem;
}
header nav ul li {
  font-size: 1.7rem;
}
header nav ul li a {
  color: black;
  text-decoration: none;
  width: 10vw;
  height: 10vw;
}
header nav ul li a:hover {
  font-size: 1.8rem;
  opacity: 0.4;
  color: rgb(102, 102, 102);
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
  margin: 80px;
}
main section.left h1 {
  font-size: 3rem;
  color: #e88;
  margin-bottom: 20px;
}
main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
  text-indent: 3rem;
  letter-spacing: 0.2rem;
  line-height: 3.5rem;
}
main section.right {
  flex: 1 1 600px;
  position: relative;
}
main section.right img.myPic {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  right: 4vw;
  transform: translate(-50%);
}
main section.table {
  flex: 3 1 500px;
  padding: 2rem;
}
main section.table table {
  border-collapse: collapse;
  font-size: 1.5rem;
}
main section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
main section.table table tr td {
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2.5rem;
}
main section.table table tr td ul {
  list-style: none;
}
main section.table table tr:hover {
  background-color: rgb(236, 151, 127);
}
main section.picture {
  flex: 1 1 600px;
}
main section.picture img {
  width: 25vw;
  height: 35vw;
  position: absolute;
  top: 180px;
  right: 180px;
}
main section.picture div.orangeRect {
  width: 30vw;
  height: 40vw;
  background-color: #e08958;
  position: absolute;
  top: 200px;
  right: 200px;
  z-index: -1;
}
main section.form {
  flex: 1 1 500px;
  margin: 0 25px;
}
main section.form form {
  height: 55vh;
  display: flex;
  flex-direction: column;
}
main section.form form div {
  margin-top: 2.5rem;
}
main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}
main section.form form div input, main section.form form div textarea {
  background-color: #f8b893;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 90%;
}
main section.form form div textarea {
  vertical-align: top;
}
main section.form form button {
  margin-top: 1.5rem;
  align-self: center;
  width: 10rem;
  background-color: #e08958;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}
main div.line {
  background-color: gray;
  width: 3px;
}
main section.contact {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  padding: 2rem;
}
main section.contact div.contact h2 {
  margin: 1rem 0rem;
}
main section.project {
  width: 100vw;
  height: 55vh;
}
main section.project #boxes {
  width: 85%;
  height: 50%;
  margin: auto;
}
main section.project #boxes div {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
}
main section.project #boxes .box {
  position: relative;
  margin: 40px;
  flex-direction: column;
  justify-content: end;
}
main section.project #boxes .box a {
  text-decoration: none;
}
main section.project #boxes .box a h3 {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  letter-spacing: 2px;
}
main section.project #boxes .box p {
  display: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}
main section.project #boxes .box:hover {
  background-color: rgb(172, 172, 172);
}
main section.project #boxes .box:hover p {
  display: block;
}

section.icon {
  position: relative;
}
section.icon div {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
section.icon div a {
  color: black;
  font-size: 3.5rem;
}

footer {
  background-color: rgb(171, 171, 171);
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0%;
}
footer p {
  text-align: center;
  letter-spacing: 8px;
  font-size: 1.2rem;
  line-height: 5vh;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1280px) {
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.right img.myPic {
    transform: none;
    width: 20vw;
    height: 20vw;
    top: -60vh;
    left: 65%;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 55vw;
    height: 70vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
  section.picture img {
    display: none;
  }
  section.icon {
    display: none;
  }
}
footer {
  position: fixed;
}
footer p {
  font-size: 14px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.right img.myPic {
    transform: none;
    width: 20vw;
    height: 20vw;
    top: -95vh;
    left: 65%;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 55vw;
    height: 70vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
  section.picture img {
    display: none;
  }
  section.contact .contact {
    padding: 16rem;
  }
  footer {
    position: fixed;
  }
  footer p {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 375px) {
  main {
    width: 100%;
  }
  main section.left {
    width: 100%;
    margin: 15px;
  }
  main section.left p {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  main section.right img {
    display: none;
  }
  main section.table table tr td {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  main section.form form {
    display: none;
  }
  main section.contact .contact {
    padding: 0%;
  }
  main section.contact .contact h2 {
    font-size: 1.2rem;
    padding: 0rem;
  }
  main section.project {
    width: 100%;
  }
  main section.project #boxes {
    width: 100%;
  }
  main section.project #boxes div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main section.project #boxes div .box {
    flex-direction: column;
  }
  footer {
    position: fixed;
  }
  footer p {
    font-size: 12px;
    letter-spacing: 2px;
  }
}/*# sourceMappingURL=person.css.map */